#poststuff #post-body.columns-2 {
    margin-right: 300px;
}
#post-body.columns-2 #postbox-container-1 {
    float: right;
    margin-right: -300px;
    width: 280px;
}
#post-body-content {
	float: left;
	width: 100%;
}
.obenland-wp div.inside li {
	list-style: square outside none;
	margin-left: 20px;
}
.obenland-wp div.inside li.rss,
.obenland-wp div.inside li.twitter {
	background: none no-repeat scroll 0 0 transparent;
	list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
}
.obenland-wp div.inside li.rss {
	background-image: url("../img/rss.png");
}
.obenland-wp div.inside li.twitter {
	background-image: url("../img/twitter.png");
}

#wpcontent select option {
	padding-right: 5px;
}
.image-radio-label {
	display: inline-block;
	vertical-align: middle;
}
label.image-radio-option  {
	float: left;
	margin: 0 30px 20px 2px;
}
body.rtl label.image-radio-option {
	float: right;
	margin: 0 2px 20px 30px;
}
label.image-radio-option input {
	margin: 0 10px 0 0;
}
.image-radio-label span {
	display: block;
	width: 136px;
}
#link-color-example {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #dfdfdf;
	margin: 0 7px 0 3px;
	padding: 4px 14px;
}